.resume {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #121212;
}

.resume-content {
  padding: 20px;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #b3afaf;
}

.backResume {
  color: #bfc9c6;
}

 h1,
 h2,
 h3 {
  text-align: center;
  margin-top: 0;
  color: #bfc9c6;
}

.resume p {
  margin: 5px 0;
}

.resume ul {
  list-style-type: disc;
  margin: 10px 0;
  padding-left: 20px;
}

.projects {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.demo {
  padding-left: 28px;
}

a {
  color: #82b3ee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.adjective {
  padding-bottom: 5px;
}

em {
  color: #fff;
}

.thoughts em{
  color: #fff;
}

.thoughts {
  text-align: center;
}

.horizontal-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.download-resume {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;
  background-color: #949c99;
  color: #131414;
  padding: 11px;
}

.download-resume:hover {
  background-color: #555555;
}

@media (max-width: 600px) {
  .download-resume {
    margin-bottom: 35px;
    font-size: 14px;
    padding: 10px;
  }
}



/* Resume.css */
/* .resume {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #333333;
  font-family: 'Arial', sans-serif;
}

.resume-content {
  padding: 20px;
  border-radius: 5px;
  background-color: #f7f9fc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.backResume {
  color: #007bff;
}

h1, h2, h3 {
  margin-top: 0;
  color: #007bff;
}

.resume-header {
  text-align: center;
  margin-bottom: 20px;
}

.resume-header h1 {
  font-size: 2.5em;
  margin: 0;
}

.resume-header h2 {
  font-size: 1.5em;
  margin: 0;
  color: #555555;
}

address {
  text-align: center;
  margin-bottom: 20px;
}

address p {
  margin: 5px 0;
}

address a {
  color: #007bff;
  text-decoration: none;
}

address a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 20px;
}

.job, .degree, .software-skill {
  margin-bottom: 10px;
}

.job h3, .degree h3, .software-skill p {
  margin: 0;
  color: #333333;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

.skills ul, .experience ul, .education ul {
  list-style-type: disc;
  margin-left: 20px;
}

.rating {
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  width: 100px;
  height: 10px;
}

.rating span {
  background-color: #007bff;
  height: 100%;
  display: block;
}

.download-resume {
  display: block;
  margin: 20px auto;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.download-resume:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .download-resume {
      margin-bottom: 35px;
      font-size: 14px;
      padding: 10px;
  }
} */
