.about-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #121212;
}

.about-container h1 {
  color: #bfc9c6;
  text-align: center;
}

.back-button {
  color: #bfc9c6;
}

.about-content {
  padding: 20px;
  border-radius: 5px;
  background-color: #2e2e2e;
  color: #b3afaf;
}